<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="Create stunning hand-drawn animations on your iPhone or iPad." />

    <title>Kineo</title>

    {{ $styleOptions := (dict "includePaths" (slice "assets/_sass")) }}
    {{ $sass := resources.Get "main.scss" }}
    {{ $style := $sass | resources.ToCSS $styleOptions }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}"/>
    <link rel="canonical" href="{{ .Permalink }}"/>
    <link rel="icon" href="/favicon.ico" />
</head>
